

body { 
    background-color: rgb(168, 215, 168);
} 

header { 
    background-color: rgb(127, 178, 127); 
    display: flex; 
    flex-direction: column; 
    align-items: center;
} 

header h1 { 

} 
.logo { 
    background-color: rgb(168, 215, 168); 
    width: 100px; 
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 
.nav-items { 
    padding-left: 15px; 
    padding-right: 15px; 
    width: 90%; 
    display: flex; 
    justify-content: space-evenly; 

} 
.nav-items a { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
    font-size: 1.5rem;
} 
.nav-items a:hover{ 
    background-color:  rgb(168, 215, 168);
}